/* CSS declarations go here */
.thumbnail {
	height:500px;
	word-wrap:break-word;
}

.thumbnail-img{
	max-height:200px;
}

body{
	padding-top:60px;
}

.single-img{
	max-width:100%;
}

/* navbar */
.nav-item{
	font-size: 19px;
}

@media (min-width: 576px) { /* on small displays there is a an issue where the navbar isn't vertical, so we apply this only for large displays*/
  #ul-navbar {
   flex-direction: row-reverse;
  }
}

@media (max-width: 576px) { /* center nav links on collapsed menu */
  #ul-navbar {
   text-align: center;
  }
}

.navbar .navbar-collapse #dropdown-menu-navbar{
  text-align: center;
}
/* end - navbar */

.modal-backdrop.show { /* modal backdrop opacity */
    opacity: 0.8;
}

/* sidebar */
.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 70px;
  padding: 0 15px;
}

article {
  background: #f1f1f1;
  border-radius: 12px;
  padding: 25px 0 100px;
}

.sidebar-heading {
  text-align: center;
  padding: 20px;
}

.sidebar-item {
  text-align: center;
}
/* end - sidebar*/
