/* CSS declarations go here */
.thumbnail {
	height:500px;
	word-wrap:break-word;
}

.thumbnail-img{
	max-height:200px;
}

body{
	padding-top:60px;
}

.single-img{
	max-width:100%;
}

/* navbar */
.nav-item{
	font-size: 19px;
}

@media (min-width: 576px) { /* on small displays there is a an issue where the navbar isn't vertical, so we apply this only for large displays*/
  #ul-navbar {
   flex-direction: row-reverse;
  }
}

@media (max-width: 576px) { /* center nav links on collapsed menu */
  #ul-navbar {
   text-align: center;
  }
}

.navbar .navbar-collapse #dropdown-menu-navbar{
  text-align: center;
}
/* end - navbar */

.modal-backdrop.show { /* modal backdrop opacity */
    opacity: 0.8;
}

/* sidebar */
.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 70px;
  padding: 0 15px;
}

article {
  background: #f1f1f1;
  border-radius: 12px;
  padding: 25px 0 100px;
}

.sidebar-heading {
  text-align: center;
  padding: 20px;
}

.sidebar-item {
  text-align: center;
}
/* end - sidebar*/








/* expandable search bar */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search] {
	background: #ededed url(search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#search-form-navbar input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search-form-navbar input[type=search]:hover {
	background-color: #fff;
}
#search-form-navbar input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-form-navbar input:-moz-placeholder {
	color: transparent;
}
#search-form-navbar input::-webkit-input-placeholder {
	color: transparent;
}

/*end - expandable search bar */
